name: Dev Workflow
on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: self-hosted
    environment: dev
    steps:
      - uses: actions/checkout@v3

      - name: Generate .env from Secrets
        run: |
          echo "API_BASE_URL=${{ secrets.DEV_API_BASE_URL }}" >> .env

      - name: Run Docker Compose
        run: docker compose -f docker-compose.dev.yml up -d --build
